/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

.htaccess

/public/books/*
/public/img/authors/*
!/public/img/authors/thumbs
/public/img/authors/thumbs/*
/public/img/books/*
!/public/img/books/thumbs
/public/img/books/thumbs/*

yandex_665698de29e8e534.html
google80efb4bc72ea7f17.html